.archive {
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  width: 1140px;
}
.heading {
  display: flex;
  justify-content: center;
  color: #3a2b2a;
  font-size: 30px;
  font-style: italic;
  margin: 25px 0 0;
}

.tagandtodo {
  display: flex;
}

.full-todo-itemm {
  margin-top: 10px;
  width: 50px;
  margin-left: 322px;
}

.todos {
  width: 480px;
  background: #4e9f3d;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-tagg {
  background-color: #d8e9a8;
  padding: 2px 10px;
  float: left;
  border-radius: 50px 0;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  font-variant: petite-caps;
  margin: 0;
}

.todo-itemm {
  list-style-type: none;
  text-transform: capitalize;
  color: white;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-undo {
  width: 30px;
  height: 27px;
  cursor: pointer;
  border: none;
  color: #f7fffe;
}

.button-undo {
  background: #f9aa4b;
}

.todo li {
  list-style-type: none;
  text-align: center;
  flex: 1;
}
