.todo {
  width: 480px;
  margin: 5px;
  background: white;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item {
  padding: 0 5px;
  /*width: 80%;*/
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.button-check,
.button-edit,
.button-trash {
  width: 30px;
  height: 28px;
  cursor: pointer;
  border: none;
  color: #f7fffe;
}

.button-check {
  background: #62b4fe;
}
.button-edit {
  background: #f9aa4b;
}

.button-trash {
  background: #ff7461;
}

.todo li {
  flex: 1;
}
