.full-todo-item {
  margin-top: 10px;
}

.todo {
  width: 480px;
  background: white;
  font-size: 20px;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-item-tag {
  background-color: #d8e9a8;
  padding: 2px 10px;
  float: left;
  border-radius: 50px 0;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
  font-variant: petite-caps;
  margin: 0;
}

.todo-item {
  width: 380px;
  text-transform: capitalize;
  background-color: #4e9f3d;
  color: white;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-button {
  display: flex;
  justify-content: center;
  text-align: center;
}

.button-check,
.button-edit,
.button-trash {
  width: 30px;
  height: 27px;
  cursor: pointer;
  border: none;
  color: #f7fffe;
}

.button-check {
  background: #62b4fe;
}
.button-edit {
  background: #f9aa4b;
}

.button-trash {
  background: #ff7461;
}

.completedStyle {
  color: #e5e2e27a;
  text-decoration: line-through;
}

@media only screen and (max-width: 500px) {
  .todo {
    width: 420px;
  }

  .todo-item {
    display: flex;
    width: 320px;
  }
}
